#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.cards {
  width: 85vw;
}
.cards a {
  background-color: rgb(69, 69, 69);
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  margin: 20px 0;
  display: block;
}
#addform label, #addform a, #addform input {
  display: block;
  text-align: center;
  margin: 15px auto;
}
#editform label, #editform a, #editform input {
  display: block;
  text-align: center;
  margin: 15px auto;
}
.dbtn {
  display: block;
  text-align: center;
  margin: 15px auto;
}
#fbtn, #lbtn {
  margin: 10px;
}
p {
  display: inline;
}
#details a {
  display: block;
  margin: 10px 0;
}